*.class

# Package files
*.jar
*.war
*.ear

# Eclipse specific
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
*.cfg
*.properties
src/TestMain.java
Project Description.pdf